body {
  font-family: Arial, sans-serif;
  background: #f7f3ef;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background: #8b4513;
  color: white;
  padding: 15px;
  text-align: center;
}

.corner-logo {
position:absolute;
top:10px;
left:10px;
width:100px;
height:100px;
border: 2px solid white;
}

.corner-logo1 {
position:absolute;
top:10px;
right:10px;
width:100px;
height:100px;
border: 2px solid white;
}

.corner-logo:hover,
.corner-logo1:hover{
transform:scale(1.1);
box-shadow:0 0 15px rgba(255,215,0,0.9);
transition:transform 0.3s ease, box-shadow 0.3s ease;
cursor:pointer;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
  text-align: center;
}

.zoom{
  display: inline-block;   
  text-decoration: underline;
  transition: transform 0.3s ease; 
  cursor: pointer;      
}

.zoom:hover {
  transform: scale(1.1);  
  text-shadow: 0 0 8px rgba(255, 215, 0, 0.9);
}

section.rates-table {
  padding-bottom: 75px;  
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 50%;
}

table, th, td {
  border: 1px solid #555;
  padding: 10px;
}

th {
  background: #d2b48c;
}

footer {
  background: #8b4513;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}






















